<template>
  <div class="flex flex-col w-full h-full">
    <div class="w-full h-full">
      <router-view />
    </div>
    <BottomBar />
  </div>
</template>

<script>
//import Topbar from '@/components/TopBar.vue'
import BottomBar from '@/components/BottomBar.vue'

export default {
  name: 'App',
  components: { BottomBar }
}
</script>

<style>
html, body {
  width: 300px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(241, 241, 241);
}
::-webkit-scrollbar-track
{
  background-color: #f8f8f8;
}

::-webkit-scrollbar
{
  width: 6px;
  background-color: #f8f8f8;
}

::-webkit-scrollbar-thumb
{
  background-color: #e4e4e4;
}
</style>
