<template>
  <div class="container flex flex-col mx-auto w-full items-center justify-center">

    <div class="bg-transparent text-center py-4" v-if="!countriesTemp.length">
      <div class="p-2 bg-gray-200 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex rounded-2xl" role="alert">
        <span class="flex rounded-full uppercase px-2 py-1 text-xs font-bold mr-3 bg-red-700"></span>
        <span class="font-semibold mr-2 text-left flex-auto text-gray-600 text-base">{{i18n()}}</span>
      </div>
    </div>

    <div class="relative text-gray-600 mt-5" v-if="countriesTemp.length >= 5">
      <input type="search" name="serch" placeholder="Type country" class="bg-gray-200 h-10 px-5 pr-10 rounded-full text-sm focus:outline-none" v-model="countrySearch">
      <button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
        <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="512px" height="512px">
          <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"/>
        </svg>
      </button>
    </div>

    <ul class="flex flex-col p-4 w-full" v-if="countriesTemp.length">
        <li class="flex flex-row mb-2 shadow-lg rounded-2xl w-full clist" v-for="[index, country] of countries.entries()" :key="index" @click="countrieClick(country, index, $event)">
          <div class="select-none cursor-pointer rounded-md flex flex-1 items-center p-4 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg" :class="[(clicked && index === itemIndex) || code === country.code ? 'bg-green-500' : 'bg-gray-50']">
            <div class="flex flex-col rounded-md w-10 h-10 justify-center items-center mr-4"><img class="emoji" :src="'icons/flags/'+ country.code.toLowerCase() + '.svg'" /></div>
            <div class="text-base" :class="[(clicked && index === itemIndex) || code === country.code ? 'text-white' : 'text-gray-600']">{{ country.country }}</div>
          </div>
        </li>
    </ul>

  </div>
</template>

<script>
/* eslint-disable no-unused-vars */
import Storage from '../app/storage'

export default {
  data() {
    return {
      countries       : [],
      countriesTemp   : [],
      countrySearch   : '',
      clicked         : false,
      itemIndex       : null,
      code            : '',
    }
  },
  watch: {
    countrySearch: {
      immediate: true, 
      handler (val) {
        if ( val ) {
          this.countries = []
          
          for (const country of this.countriesTemp) {

            let c = country.country.toLowerCase()
            let p = this.countrySearch.toLowerCase()

            if ( c.includes(p) )this.countries.push(country)

          }
        } else {
          this.countries = this.countriesTemp
        }
      }
    },
  },
  methods: {
    countrieClick(country, index, event) {
      if ( index === this.itemIndex && this.clicked === true ) {
        chrome.runtime.sendMessage({ msg: 'clearProxy', country })
        
        this.clicked    = false
        this.itemIndex  = null
        this.code       = ''
      } else {
        chrome.runtime.sendMessage({ msg: 'setProxy', country })
        this.clicked    = true
        this.itemIndex  = index
        this.code       = country.code
      }
    },
    i18n() {
      return chrome.i18n.getMessage('noServer')
    },
    insertCurrentToTop(arr) {
        const country = arr.filter( f => f.code === this.code )
        const index   = arr.findIndex( c => c.code === this.code)

        if ( index > -1 ) arr.splice(index, 1)
        return [...country, ...arr]
    }
  },
  async created() {
    try {
      const storage = new Storage('config')
      const config  = await storage.getFromStorage()
  
      if ( !config || config.vpnServerNull === true ) {
        this.countries      = []
        this.countriesTemp  = []
      } else {
        let countries = config.config.servers
        
        this.code = (config.currentVpnCountry || {}).code || ''
        
        countries = countries.sort((a, b) => parseInt(b.rating) - parseInt(a.rating))

        if ( this.code ) countries = this.insertCurrentToTop(countries)

        this.countries     = countries
        this.countriesTemp = countries
      }

    } catch (e) {
      console.log('Countries list created error', e)
    }
  },
}
</script>

<style>
span.emoji {
  font-size: 30px;
  vertical-align: middle;
  line-height: 2;
}

li.clist:last-child {
  margin-bottom: 90px;
}
</style>
