<template>
  <div class="">

    <transition name="fade">
      <div class="bg-transparent text-center py-4 flex flex-col mx-auto w-full items-center justify-center">
        <div class="p-2 bg-gray-200 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex rounded-2xl" role="alert">
          <span class="flex rounded-full uppercase px-2 py-1 text-xs font-bold mr-3" :class="[isVpnError ? 'bg-red-700' : vpnOn ?'bg-green-500': 'bg-gray-500']"></span>
          <span class="font-semibold mr-2 text-left flex-auto text-gray-600 text-base">{{badgeText()}}</span>
        </div>
      </div>
    </transition>

    <div class="inset-center">
      <button @click="setRandomProxy()" class="inset-center" :class="[vpnOn && !isVpnError ? 'start-btn-active mt-10': 'start-btn-disable mt-10']">
        <svg enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g>
            <path d="M256,512c-64,0-124.2-24.9-169.4-70.2S16.4,336.4,16.4,272.4c0-64,24.9-124.2,70.2-169.4   c4.1-4.1,10.8-4.1,14.9,0c4.1,4.1,4.1,10.8,0,14.9c-41.3,41.3-64,96.2-64,154.5s22.7,113.3,64,154.5c41.3,41.3,96.2,64,154.5,64   c58.4,0,113.3-22.7,154.5-64c41.3-41.3,64-96.2,64-154.5s-22.7-113.3-64-154.5c-4.1-4.1-4.1-10.8,0-14.9c4.1-4.1,10.8-4.1,14.9,0   c45.3,45.3,70.2,105.4,70.2,169.4c0,64-24.9,124.2-70.2,169.4S320,512,256,512z" fill="#6A6E7C"/>
            <path d="M256,233c-5.8,0-10.5-4.7-10.5-10.5V10.5C245.5,4.7,250.2,0,256,0c5.8,0,10.5,4.7,10.5,10.5v211.9   C266.5,228.3,261.8,233,256,233z" fill="#6A6E7C"/>
          </g>
        </svg>
      </button>
    </div>
    
  </div>
</template>

<script>
import Storage from '../app/storage'

export default {
  name: 'Home',
  data() {
    return {
      vpnOn       : false,
      vpnCountry  : '',
      isVpnError  : false,
      code        : '',
    }
  },
  methods: {
    async setRandomProxy() {

      if ( this.isVpnError ) return

      if ( !this.vpnOn ) {
        const storage = new Storage('config')
        const config  = await storage.getFromStorage()

        if ( config.vpnServerNull !== true ) {
          const servers = config.config.servers
          const prem = servers.map( s => {
            const _prem = s.servers.filter( f => f.premium )
            if ( _prem.length ) return s
          }).filter( f => f !== undefined )

          let rnd
          let result
          if ( !prem.length ) {
            rnd  = Math.floor(Math.random() * servers.length)
            result = servers[rnd]
          } else {
            rnd = Math.floor(Math.random() * prem.length)
            result = prem[rnd]
          }

          this.vpnOn      = true
          this.vpnCountry = result.country
          this.code       = result.code

          chrome.runtime.sendMessage({ msg: 'setProxy', country: result })
        }

      }
      else {
        chrome.runtime.sendMessage({ msg: 'clearProxy' })

        this.vpnOn      = false
        this.vpnCountry = ''
        this.code       = ''
      }
    },
    async init() {
      const storage = new Storage('config')
      const result  = await storage.getFromStorage()
      
      if ( !result ) {
        this.isVpnError = true
        this.vpnOn      = false
        this.vpnCountry = ''
        this.code       = ''
      } else {
        this.isVpnError = result.vpnServerNull
        
        if ( !this.isVpnError ) {
          this.vpnOn      = result.vpnOn
          this.vpnCountry = (result.currentVpnCountry || {}).country || ''
          this.code       = (result.currentVpnCountry || {}).code || ''
        } else {
          this.isVpnError = true
          this.vpnOn      = false
          this.vpnCountry = ''
          this.code       = ''
        }
      }

    },
    badgeText() {
      if ( this.isVpnError ) return chrome.i18n.getMessage('noServer')
      if ( this.vpnOn ) return this.vpnCountry
      else return chrome.i18n.getMessage('notConnected')
    }
  },
  async created() {
    try {
      await this.init()
    } catch (e) {
      this.isVpnError = true
      this.vpnOn      = false
      this.vpnCountry = ''

      console.log('Main view created error', e)
    }
  }
}
</script>

<style>
.start-btn-disable, 
.start-btn-active {
  background-color: transparent;
}

.start-btn-disable svg,
.start-btn-active svg {
  width: 160px;
  height: 160px;
}

.start-btn-disable svg path {
  fill: rgb(209, 213, 219);
}

.start-btn-active svg path {
  fill: rgb(236, 72, 153);
}

.start-btn-disable:hover svg path{
  fill: rgb(236, 72, 153);
  transition: ease-in-out .5s;
}

.fade-enter-active, 
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, 
.fade-leave-to {
  opacity: 0;
}

.inset-center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
