<template>
    <nav class="fixed inset-x-0 bottom-0 bg-transparent flex flex-col sm:flex-row">
        <ul class="flex h-full p-4 bg-white justify-around m-4 shadow-xl rounded-2xl">
            <li class="my-px cursor-pointer transition duration-500 ease-in-ou">
                <router-link to="/" class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-600 hover:bg-gray-100 transition duration-500 ease-in-out">
					<span class="flex items-center justify-center text-lg text-gray-400">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                        </svg>
					</span>
                </router-link>
            </li>
            <li class="my-px cursor-pointer">
                <router-link to="/countries" class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-600 hover:bg-gray-100 transition duration-500 ease-in-out">
					<span class="flex items-center justify-center text-lg text-gray-400">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                        </svg>
					</span>
                </router-link>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
  name: 'BottomBar',
  methods: {
      i18n(str) {
        return chrome.i18n.getMessage(str);
      }
  }
}
</script>

<style scoped>
.my-px {
    margin-top: 1px;
    margin-bottom: 1px;
}

.router-link-exact-active span svg{
    stroke: rgb(75, 85, 99);
    transition: ease-in-out .3s;
}
</style>
